html {
    font-size: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.links {
    font-size: 1.3em;
    padding: 10px;

}

.nav-link, .footer-link {
    text-decoration: none;
    color: rgb(222, 223, 224);
}

#nav-bar {
    float: right;
    width: 100%;
    margin-top: 15px;
}

.center-container{
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 200px;
}

img {
    height: 92px;
    width: 272px;
}

input[type="search"] {
    background-color: none;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 40px;
    width: 500px;
    border: 1px solid rgba(219, 219, 219, 0.55);
    border-radius: 30px;
}

.search-button {
    font-size: 1.5em;
    background-color: rgba(124, 124, 124, 0.863);
    color:  rgba(185, 184, 184, 0.932);
    margin: 0 3px 10px 3px;  
    /* width: 150px;
    height: 35px; */
    padding: 7px 18px;
    border-radius: 4px;
    border: none;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(57, 57, 58);
}

<<<<<<< HEAD
#footer-bar {
=======
#footer-bar{
>>>>>>> tmp
    overflow: hidden;
}

#footer-bar #left-side-footer {
    float: left;
}

#footer-bar #right-side-footer {
    float: right;
}